@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Linear loader with dimming and brightening effect */
.linear-loader {
  width: 100%;
  height: 10px;
  background-color: #2a2a2a; /* Grey color */
  animation: dimBrighten 1.5s infinite;
}

@keyframes dimBrighten {
  0%, 100% {
    background-color: #2a2a2a; /* Dim grey */
    transform: scaleX(0.9); /* Shrink */
  }
  50% {
    background-color: black; /* Bright black */
    transform: scaleX(1.1); /* Expand */
  }
}

.custom-dashed-border {
  border-style: dashed;
  border-width: 2px; /* Adjust the border thickness */
  border-color: #4F4F4F;
/* Adjust dash width */
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  padding-right: 6px; /* Creates 8px space between the content and scrollbar */
}
  /* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 13px; /* Scrollbar width */
  border-radius: 13px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1A1A1A; /* Track background color */
  border-radius: 8px; /* Rounded corners for track */
  border: 2px solid #4F4F4F; /* Border for track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #D1D1D1; /* Thumb color */
  border-radius: 8px; /* Rounded corners for thumb */
  border: 2px solid #4F4F4F; /* Border around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #B0B0B0; /* Darker color when hovering */
}
